:root {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
}

.header {
	display: flex;
	margin-top: 5rem;
	justify-content: space-between;
	align-content: flex-end;
	align-items: flex-end;
}
.header__date {
	/* -webkit-margin-after: 0; */
	font-size: 1.6rem;
}
.header__title {
	font-size: 9rem;
	font-weight: 700;
	color: #000;
}
.title-rule {
	border-top: 10px solid black;
}
.list-section__rule {
	border-top: 2px solid black;
}
.list-section {
	width: 100%;
	height: auto;
	border: 1px solid black;
	border-radius: 2rem;
	padding: 1rem;
	font-size: 1.6rem;
	position: relative;
	box-shadow: 9px 6px 47px -10px rgba(59,59,59,0.27);
}
.form-control {
	border: 1px solid #000;
	font-size: 1.6rem;
}
.btn-container {
	/* height: 100%; */
	display: flex;
	align-items: flex-end;
	bottom: 1rem;
	width: 75%;
	margin: 0 auto;
}

.btn-outline-dark {

}
ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 2rem;
}
li {
	margin-bottom: 0.4rem;
	border: 1px solid black;
	border-radius: 2rem;
	padding-left: 1rem;
	font-weight: 200;
}
li:hover {
	background: #d8d8d8;
}
.list-group-item {
	border: 1px solid #000;
	border-radius: 2rem;
	padding-left: 2rem;
	margin: 0.2rem;
}
.line-thru {
	text-decoration: line-through;
	color: #c1c1c1;
}
.col-md-4 {
	margin-bottom: 20px;
}
